
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Operations</th>
  </tr>
  <tr>
  <tr th:each="users : ${allUsers}">
    <td th:text="${users.id}">ID</td>
    <td th:text="${users.name}">Name</td>
    <td th:text="${users.surName}">Surname</td>
    <td th:text="${users.age}">Age</td>
    <td><a th:href="@{/edit/{id}(id=${users.id})}">Edit</a>
      <a th:href="@{/delete/{id}(id=${users.id})}">Delete</a></td>
  </tr>
</table>
<br>
<input type="button" value="add" onclick="window.location.href = 'addUser'">
</body>
</html>